@model Product
@{
    ViewData["Title"] = "Editar Produto";
}
<form method="post" asp-action="Editar">
    <input type="hidden" asp-for="Product_ID"></input>
    <div class="mb-2">
        <label asp-for="Name" class="form-label"></label>
        <input  type="Text" asp-for="Name" class="form-control" />
    </div>
    <div class="mb-2">
        <label asp-for="ShortDescription" class="form-label"></label>
        <input  type="Text" asp-for="ShortDescription" class="form-control"/>
    </div>
    <div class="mb-2">
        <label asp-for="Price" class="form-label"></label>
        <input  type="number" asp-for="Price" class="form-control"/>
    </div>
    <div class="mb-2">
       <button type="submit" class="btn btn-primary" >Alterar</button>
    </div>
</form>
